.nav_items div{     /*nav_items 안에 있는 div들*/
    display: inline-block;
    margin-right: 36px;
}

.nav_container{
    display:flex;
    justify-content: space-around;
    align-items :center;
    flex-wrap: wrap;
}

.logo{
    display: inline;
    margin-right: 306px;
}

.nav_items{
    display: flex;
}

.link{
    display: inline-flex;

}

.link div{
    display: inline-block;
    margin-right: 20px;
}

.text{
    display: block;
    padding-top: 50px;
    left: 599px;
    text-align: center;
    margin-top: 100px;
    
}

.text_name{
    background : linear-gradient(120deg,#13b0f5 -2.06%,#e35ef7 100%);
    background-clip: text;
    color : transparent;
    font-family: 'TTLaundryGothicB';
}

.text_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 0;
    text-align: center;
    color: #42446E;

}

.text_title_sub{
    font-size: 24px;
    font-weight: 400;
    line-height: 0;
    text-align: center;    
    color: #42446E;
    margin-top: 50px;
}
.box{
    display: flex;
    flex-direction : row;
    justify-content: space-around;
}

.text_introduce{

    margin-top :300px;
    font-size: 25px;    
    font-weight: 400; 
    line-height: 30px;
    text-align: left;    
    color: #42446E;
    
    margin-right: 180px;
}

.profile_image{

    display: flex;
    flex-direction: row;
    margin-top :200px;
    
    border: 10px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(120deg, rgb(17, 190, 206) 0%,  rgb(42, 184, 61) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;

}

.tech_image{
    display: flex;
    justify-content: center;
    margin-top : 50px;
    gap : 50px;

}

.tech_image img{
    display: flex;
    gap : 50px;
    flex-wrap: wrap;
}


/* 참고 부분 */

#project-section {
    padding-bottom: 300px;
  }

.project-items {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top:50px;
  }
  .project-item {
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  .project-thumbnail {
    width: 100%;
    height: 256px;
    /* 위쪽 둥글게 둥글게 */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* 배경 이미지 가운데 정렬, 가득차게 */
    background-image: url("image/Untitled (1).png");
    background-position: center;
    background-size: cover;
  }
  .project-thumbnail:hover{
    transition: all 1s;
    transform: rotate(3600deg);
  }

  .project-content {
    padding: 30px;
    /* 세로 간격(gap)을 일정하게 주기 위해 flex 적용 */
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .project-content h4 {
    color: #42446e;
    font-size: 24px;
    font-weight: 700;
  }
  .project-link {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .project-link a {
    display: flex;
    gap: 12px;
    align-items: center;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
  }
  
  .project-desc {
    color: #666;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
  }
  
  .project-tech-stack {
    color: #42446e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }

  
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-bottom: 50px;
}
.footer-content {
    display: flex;

    justify-content: space-between;
}
.footer-upper {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    width: 97px;
    height: 59px;
}

.footer-contact {
    display: flex;
    gap: 40px;
    align-items: center;
    /* 텍스트 스타일 */
    color: #42446e;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.footer-contact a {
    /* 기본속성으로 적용되어 있는 언더라인 제거 */
    color: #42446e;
    text-decoration: none;
}
footer .footer-links {
    display: flex;
    gap: 20px;
}

.hr {
    width: 100%;
    border-bottom: solid 1px #666;
}

.madeby {
    color: #666;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}
.madeby span {
    background: linear-gradient(0deg, #13b0f5 -2.06%, #e70faa 100%);
    background-clip: text;
    color: transparent; /* 글자 색을 투명하게 */
}

@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}